html,body{height:100%;}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.6 Verdana, 宋体, Helvetica, sans-serif;} /*雅黑：\5FAE\8F6F\96C5\9ED1 Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;} 
.fl{float:left;}
.fr{float:right;}
.clr{ clear:both;}
.f14{ font-size:14px;}
.mt20{ margin-top:20px;}
.ml20{ margin-left:20px;}
.cphand{ cursor:pointer;}
.li20{ line-height:20px;}  
/* 登陆页面 */
.w1006{width:1006px; }
body{margin:0 auto; font-size:12px;}
.item a{ color:#FFF; text-decoration:none;}
.item a:hover{ color:#FFF; text-decoration:underline;}
button{ padding:0; margin:0; list-style-type: none;}
.w178{ width:178px;}
.bigbg{ background:url(../../images/index/bigbg.jpg) no-repeat; width:1006px; height:599px;}
#entry{ background:url(../../images/index/smallbg.jpg) no-repeat; width:320px; height:272px; position:relative;left:600px; top:156px;}
#entry .form{height: 354px; overflow: hidden; position:absolute; right:-36px; top:68px; width:320px;}
#entry .item {line-height:22px;height:35px;overflow:visible;position: relative;width��320px;font-size:12px; color:#FFF;}
#entry .erro{float:left; line-height:22px; height:35px; overflow:visible; position:relative;font-size:12px; color:#fe8686;}
#entry .item-ifo {position: relative; padding-left:10px;  width:200px;}
#entry .text { width:176px; height: 20px; /* border: 1px solid #cccccc; */float: none; font-family: arial,"宋体"; font-size: 14px;line-height: 24px;  padding:0;}
#entry .textw70{ width:70px; height: 20px; /* border: 1px solid #cccccc; */font-family: arial,"宋体"; font-size: 14px;line-height: 24px;  padding:0;}
#entry .tu{line-height:22px;float:left; margin:0 0 0 8px ;}
#entry .change{ display:inline-block;float:left; padding-left:10px;}
#entry .remember{ margin-left:60px; padding:0;}
#entry .checkbox { margin-top: 7px; padding:0;}
#entry .mar {margin-right: 10px; color:#FFF; line-height:26px; height:26px;}
#entry .submit{margin:10px 0 0 50px; padding:0;}
#entry  button.S_Submit{background-image:url(../../images/index/submit.jpg); background-position: 0 0; border: 0 none; height:29px; overflow: hidden;width:74px;cursor: pointer; float:left;}
#entry  button.S_Submit:hover{background-image:url(../../images/index/submit.jpg); background-position: 0 -30px; border: 0 none; height:29px; overflow: hidden;width:74px;cursor: pointer;}
#entry  button.Set{position:absolute; right:65px; top:135px;  width:50px; height:50px; cursor:pointer; background:none; border:none; padding:0;}


/* 内容框架页面02 */
.full{width:100%;margin:0 auto;}
#Headcont{background-image:url(../../images/index/R_01.jpg); background-repeat:repeat-x; height:96px; overflow:hidden; width:100%; margin:0 auto;}
#Headcont .logo{float:left;background-image:url(../../images/index/CC_bg01.png); background-position: 0 0; width:274px; height:96px; overflow:hidden;}
.w100{width:100px; }
.w175{ width:175px;}
#Headcont .detail{float:right; width:852px;}
#Headcont .detail li{float:left; background:url(../../images/index/R_02.jpg) no-repeat;height:96px;}
#Headcont .detail li.selected,#Headcont .detail li:hover{background:rgba(123, 186, 221, 0.6) none repeat scroll 0 0 !important;filter:Alpha(opacity=20); background:#fff; border-left:#277fb1 1px solid;}
#Headcont .detail li span{display:inline-block; position:relative; top:32%;left:34%;text-align:center; margin:0 auto; }
#Headcont .detail li span.de01{background-image:url(../../images/index/CC_bg01.png); background-position:-79px -101px; width:29px; height:30px; overflow:hidden;}
#Headcont .detail li span.de02{background-image:url(../../images/index/CC_bg01.png); background-position:-119px -102px; width:29px; height:30px; overflow:hidden;}
#Headcont .detail li span.de03{background-image:url(../../images/index/CC_bg01.png); background-position:-160px -102px; width:29px; height:30px; overflow:hidden;}
#Headcont .detail li span.de04{background-image:url(../../images/index/CC_bg01.png); background-position:-202px -101px; width:29px; height:30px; overflow:hidden;}
#Headcont .detail li .man{position:relative; top:26%;left:8%;float:left;}
#Headcont .detail li a.nametxt{text-align:center;display:block;word-wrap: break-word;word-break: normal;line-height:18px;position:relative; top:35%;left:12%;width:70px;float:left; font-size:14px;color:#fff; text-decoration:none;}
#Headcont .detail li a.nametxt:hover{ position:relative; top:35%;left:12%;width:70px;float:left;font-size:14px; color:#63efd8;}
#Headcont .detail li span.de05{background-image:url(../../images/index/CC_bg01.png); background-position:-123px -144px; width:21px;float:left;height:17px;position:relative; top:33%;left:13%;}
#Headcont .detail li span.de06{display:inline-block; position:relative; top:26%;left:16%; text-align:center; width:110px; line-height:24px;font-size:14px; color:#FFF;}
#Headcont .detail li span.de07{background-image:url(../../images/index/CC_bg01.png); background-position:-80px -142px; width:29px; height:30px; overflow:hidden;}
#Bigcont {height:100%;width:100%; margin:0 auto; }
#Bigcont .bglist{ float:left; width:250px; background-color:#edf8fd; border-right:#a6e0f8 1px solid;height:100%;}
#Bigcont .bglist ul li{ background-image:url(../../images/index/R_03.jpg);border-bottom:#FFF 1px solid; color:#333; font-size:16px;overflow:hidden;clear:both;*margin-bottom:-3px; }
#Bigcont .bglist ul li.selected,#Bigcont .bglist ul li:hover{ background-image:url(../../images/index/R_04.jpg); color:#FFF;}
.h63{ height:63px;}
.h75{ height:75px; }
#Bigcont .bglist ul li span.ic01{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:0 -99px; width:30px; height:30px; position:relative; top:26%; left:10%;}
#Bigcont .bglist ul li span.ic01.selected{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:-38px -99px; width:30px; height:30px; }
#Bigcont .bglist ul li span.ic02{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:0 -171px; width:30px; height:30px; position:relative; top:26%; left:10%;}
#Bigcont .bglist ul li span.ic02.selected{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:-39px -169px; width:30px; height:30px; }
#Bigcont .bglist ul li span.ic03{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:0 -240px; width:30px; height:34px; position:relative; top:22%; left:10%;}
#Bigcont .bglist ul li span.ic03.selected{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:-38px -240px; width:30px; height:30px;}
#Bigcont .bglist ul li span.ic04{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:0 -314px; width:30px; height:30px; position:relative; top:28%; left:10%;}
#Bigcont .bglist ul li span.ic04.selected{float:left; display:block;background-image:url(../../images/index/CC_bg01.png); background-position:-38px -314px; width:30px; height:30px; }
#Bigcont .bglist ul li span.title01{float:left; display:block; position:relative; top:20%; left:42%;}
#Bigcont .bglist ul li span.title{float:left; display:block; position:relative; top:32%; left:42%;}
#Bigcont .bglist ul li a{ color:#003; text-decoration:none}
#myModal .Tutitle ul a{ color:#fff; text-decoration:none}
#Bigcont .bglist ul li{ cursor:pointer;}
#Bigcont .bglist ul li:hover a,#Bigcont .bglist ul li.selected a{ color:#fff; text-decoration:none;}
#Bigcont .nav{float:left; margin:10px 0 10px 10px;width:890px;height:100%;}
.nav{ width:100%; height:85%;}

#myModal .grybg{float:left;width:1032px; background-color:#fff; height:506px;}
#myModal .Tutitle{width:100%; text-align:center; height:62px; display:block;}
#myModal .Tutitle ul{margin:auto; height:auto;}
#myModal .Tutitle ul li{width:80px; margin:0 10px 0 10px; height:40px; float:left; text-align:center; }
#myModal .Tutitle ul a.selected,#myModal .Tutitle ul  a:hover{color:#fff;font-size:14px; }
#myModal .Tutitle ul li span{ margin:0 auto;}

#myModal .Tutitle ul li span.posi01:hover,#myModal .Tutitle ul li span.posi01.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-50px -395px; width:42px;height:40px; }
#myModal .Tutitle ul li span.posi02:hover,#myModal .Tutitle ul li span.posi02.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-112px -248px; width:42px; height:40px;}
#myModal .Tutitle ul li span.posi03:hover,#myModal .Tutitle ul li span.posi03.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-66px -248px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi04:hover,#myModal .Tutitle ul li span.posi04.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -379px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi05:hover,#myModal .Tutitle ul li span.posi05.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -336px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi06:hover,#myModal .Tutitle ul li span.posi06.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -243px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi07:hover,#myModal .Tutitle ul li span.posi07.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -141px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi08:hover,#myModal .Tutitle ul li span.posi08.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -44px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi09:hover,#myModal .Tutitle ul li span.posi09.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -291px; width:42px; height:40px; }
#myModal .Tutitle ul li span.posi10:hover,#myModal .Tutitle ul li span.posi10.selected{ font-size:14px; background-image:url(../../images/index/CC_bg01.png); background-position:-331px -418px; width:42px; height:40px; }
.posi01{ background-position:-51px -352px; }
.posi02{ background-position:-118px -207px; }
.posi03{ background-position:-84px -207px; }
.posi04{ background-position:-292px -381px; }
.posi05{ background-position:-292px -341px; }
.posi06{ background-position:-292px -248px; }
.posi07{ background-position:-292px -146px; }
.posi08{ background-position:-292px -49px; }
.posi09{ background-position:-292px -296px; }
.posi10{ background-position:-292px -423px; }

#myModal .Tutitle span.hometu{ display:block;background-image:url(../../images/index/CC_bg01.png); width:35px; height:33px; text-align:center;}
.introtxt{float:left; margin:0 0 0 10px ;width:160px; height:auto!important; height:506px; min-height:506px; background-color:#f6f6f6;} 
.introtxt .txt{ width:140px; color:#666666; padding:20px 10px 15px 13px; float:right; line-height:18px;}
.introtxt span.line{ display:block;background-image:url(../../images/index/CC_bg01.png); background-position:-80px -179px; width:136px; height:4px; margin:10px 0 10px 0;}

/* 内容框架页面01 */
#Bigcont .nav01{float:left; margin:35px 0 0 35px;  position:relative; width:738px;height:100%;}
#Bigcont .nav01 .contbg{ position:relative; width:100%; height:auto;}
#Bigcont .nav01 .contbg .box{ width:333px; height:210px; margin :0 27px 25px 0;}
#Bigcont .nav01 .contbg .box .boxmid{float:left;border:#d3ebf6 1px solid;border-radius:5px; background-color:#f3fbfe; width:301px; height:190px; padding:10px 15px 10px 15px;}
#Bigcont .nav01 .contbg .box .boxmid .title{line-height:normal;width:300px; height:38px; border-bottom:#b7e4f9 1px solid; color:#5aa9d4;}
#Bigcont .nav01 .contbg .box .boxmid .title span{ display:inline-block; font-size:24px; font-family:"Microsoft YaHei";}
#Bigcont .nav01 .contbg .box .boxmid .boxcont{ margin-top:15px;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .pic{ float:left; background-color:#09F; width:110px; height:110px;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .pic img{border:#b5e7fe 1px solid;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .text{ float:left; width:162px; margin-left:20px; color:#999;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .text span{ display:block; height:17px; position:relative; top:0px; color:#828180; margin-bottom:10px; font-weight:bolder;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .text p{ height:66px; line-height:16px;}
#Bigcont .nav01 .contbg .box .boxmid .boxcont .text a.more{ color:#32b2ef;}
#Bigcont .riboxye{ width:304px; float:right; margin:35px 0 35px 0; }
#Bigcont .newstop{ height:30px; background-color:#09F; padding:5px 0 0 15px; font-size:14px; color:#FFF;}
#Bigcont .listtext{ width:279px; margin:10px 15px 0 10px; color:#666; line-height:20px;}
#Bigcont .listtext a{ color:#09F; text-decoration:none;}
#Bigcont .listtext a:hover{ color:#09F; text-decoration:underline;}




































