@charset "utf-8";
/* CSS Document */

/*.header{background:url(images/body_bg.png);}
.bgcolor{background:#fff;}
.mini-menuitem-selected{background:url(images/sidebar_list_on.png) !important;border:0px !important; height:32px; line-height:32px !important;}
.mini-menuitem-selected .mini-menuitem-icon{margin-top:7px;}
.mini-menuitem{margin-top:10px; }
.border-top0{border-top:none !important;}
.mini-splitter-border{border:none !important;}
.mini-splitter-pane{border-top:1px solid #999; border-left:1px solid #999;}
.hidden{display:none;}
.visble{display:block;}
.tolbg{background:url(images/toolbar.png);}
.loading{background:url(images/loading.gif) no-repeat center;}
.hovebut{padding:0 !important; border:1px solid #A9ACB5 !important;background:#dde6fe url(images/hover.png) repeat-x 0 0 !important;   text-decoration:none !important;}
.margin-left10{margin-left:20px;}
.color3{color:#333}

.onlyread{background:#eee !important; color:#ccc !important;}*/
.bordernone{border:0px;}
.mini-splitter-pane2 .mini-splitter .mini-splitter-border{border:none;}
.border-right{border-right:1px solid #999;}
.border-left{border-left:1px solid #999;}
#textcontent span.mini-textbox-border{border:none;}
